h2 {
    color: #511f52; /* Títulos y Encabezados */
    font-family: 'Montserrat', sans-serif;
  }
/*Estilo de las cartas*/
.card-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    margin-left: 300px; /* Asegura que las cartas no sean tapadas por la barra lateral */
  }
  
  .cardli {
    list-style-type: none;
    background-color: #f9edf9; /* Fondo de las Tarjetas */
    border: 4px solid #a987ab; /* Borde de las Tarjetas */
    padding: 20px;
    border-radius: 20px;
    width: 380px; /* Ancho fijo para mantener el tamaño consistente */
    max-width: 100%;
    height: 670px;
    max-width: 100%;
    margin: 0px;
    box-shadow: 0 4px 8px rgba(239, 236, 241, 0.1);
    text-align: center;
    box-sizing: border-box;
    transition: width 0.5s ease, height 0.5s ease; /* Transición solo en ancho y alto */
  }
  
  .card__title {
    color: #33102E; /* Color del Título de la Tarjeta */
    margin-bottom: 10px;
  }
  
  .card__description {
    color: #662962; /* Color del Texto de Descripción */
    margin-top: 10px;
  }
  
  .card__list p {
    margin: 5px 0;
    text-align: left; /* Alineación a la izquierda */
  }
  
  .card__gender strong, .card__year strong, .card__chapters strong {
    color: #8F4898; /* Color de los Títulos de los Datos */
  }
  
  .card__gender span, .card__year span, .card__chapters span {
    color: #33102E; /* Color de los Datos */
  }
  
  .card_image {
    max-width: 100%;
    width: 270px;
    border-radius: 10px;
    max-height: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  /*sombrear la tarjeta al pasar el mouse */
  .cardli:hover{
    background:#cfb3d3;;
  }

  /*Modo responsive*/
/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .card-container ul {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0; /* Asegura que las cartas estén centradas */
  }

  .cardli {
    width: auto;
    height: auto;
    transition: all 0.5s ease; /* Aplicar transición a todas las propiedades */
  }
}

/* Pantallas medianas (tablets y móviles grandes) */
@media (min-width: 481px) and (max-width: 768px) {
  .card-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0; /* Asegura que las cartas estén centradas */
  }

  .cardli {
    width: auto;
    height: auto;
    transition: all 0.5s ease; /* Aplicar transición a todas las propiedades */
  }
}

/* Pantallas grandes (tablets grandes y laptops pequeñas) */
@media (min-width: 769px) and (max-width: 1024px) {
  .card-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 285px; /* Asegura que las cartas no sean tapadas por la barra lateral */
  }

  .cardli {
    width: 270px;
    height: auto;
    transition: all 0.5s ease; /* Aplicar transición a todas las propiedades */
  }
}
