/* Contenedor de contenido general */
.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    margin-left: 220px; /* Desplaza el contenido a la derecha de la barra lateral */
  }
  
  /* Contenedor de imagen y descripción */
  .image-description {
    background-color: #D1C8E1;
    width: 350px; /* Ajusta el ancho según tus necesidades */
    padding: 60px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}
  
.item-image {
    width: 280px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #B370B0; /* Color del borde */
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__title__chat{
    padding: 25px;
    font-size: 30px;
    color: #33102E;
}
.card__description__chat{
    color: #87255B; /* Color del Texto de Descripción */
    margin-top: 10px;
    padding: 20px;
}
/* Estilos para pantallas medianas */
@media screen and (max-width: 1024px) {
    .content-container {
        margin-left: 150px; /* Reducir el margen para pantallas más pequeñas */
        flex-direction: column;
        align-items: center;
    }
  
    .image-description {
        display: none;
    }
  
    .item-image {
        width: 200px; /* Ajusta el tamaño de la imagen */
    }
  
    .card__title__chat {
        font-size: 24px; /* Ajusta el tamaño de la fuente */
    }
  
    .card__description__chat {
        font-size: 16px; /* Ajusta el tamaño de la fuente */
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
    .content-container {
        margin-left: 0; /* Elimina el margen lateral */
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
  
    .image-description {
        display: none;
    }
  
    .item-image {
        width: 150px; /* Tamaño de la imagen más pequeño */
    }
  
    .card__title__chat {
        font-size: 20px; /* Fuente más pequeña */
    }
  
    .card__description__chat {
        font-size: 14px; /* Fuente más pequeña */
    }
}