/*Estilos de contenedores option, select, button*/
.filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .button-row {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .filter-row{
    max-width: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .filter-container select {
    padding: 5px;
    border-radius: 4px;
    background-color: #ffffff; /* Fondo del select */
    color: #33102E; /* Texto del select */
    border: 1px solid #AB65AD;
    border-radius: 5px;
    margin:auto;
    width: 150px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .filter-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black; /* Color de las Etiquetas */
  }
  
  .button-average {
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: black; /* Color del Texto del Botón */
    background-color: #bcb58d; /* Fondo del Botón */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .button-clear:hover, .metrics:hover, .button-average:hover{
    background-color: #D9A9E3; /* Color del Botón al Pasar el Ratón */
  }
  
  .block-average{
    display: flex;
    flex-direction: wrap;
    justify-content: center; /* Espacio entre los contenedores */
    align-items: center; /* Alineación central de los contenedores */
    gap: 20px; /* Espacio entre los contenedores */
    padding: 2px;
    margin:auto;
  }
  
  /* Estilos iniciales */
  .average-container {
    display: none;
    padding: 20px;
    background: linear-gradient(to top, #D9A9E3 0%, #8F4898 100%); /* Gradiente usando los colores de la paleta */
    border-radius: 15px;
    color: #33102E;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 300px;
    height: 110px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transform: translateY(20px);
   }
  
  /* Estilos cuando se muestra el contenedor */
  .average-container.show,
  .average-container.show1,
  .average-container.show2 {
    display: block;
    opacity: 1;
    transform: translateY(0);
    width: auto;
    max-width: 100%;
    height: auto;
  }
  
  .button-clear, .metrics, .button-average {
    padding: 10px 20px;
    font-size: 15px;
    margin: 0px;
    border: none;
    border-radius: 10px;
    border: 1px solid #9e5583;
    background-color: #bcbad8; /* Fondo del Botón */
    color: #000000; /* Color del Texto del Botón */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    .button-container {
      flex-direction: column;
    }
  
    .filter-container {
      flex-direction: column;
    }
  
    .filter-container select{
      width: 100px;
      max-width: 100%;
    }
  
    .average-container.show,
    .average-container.show1,
    .average-container.show2 {
      width: auto;
      max-width: 100%;
    }
  }
  
  /* Para móviles */
  @media (max-width: 500px) {
    .filter-row {
      flex-direction: column;
      margin: auto;
    }
  
    .filter-row label {
      display: flex;
      text-align: left;
      justify-content: space-between;
    }
  
    .block-average {
      flex-direction: column;
      align-items: center;
    }
  
    .average-container {
      margin-bottom: 5px;
      width: 60%;
    }
  
    .filter-container select {
      width: auto;
      max-width: 100%;
    }
  
    .button-row {
      margin: auto;
    }
  
    .average-container.show,
    .average-container.show1,
    .average-container.show2 {
      width: auto;
      max-width: 100%;
    }
  }