/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*Estilo del header*/
header {
  background-size: cover;
  background-position: center;
  color: black;
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
  flex-grow: 1;
  margin-left: 300px;
}
  
h1{
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  font-family: 'Poppins', sans-serif;
}
  
.header__description{
  font-size: 1.2em;
  line-height: 30px;
  color: #000000;
  margin: 10px auto;
}
.header-logo {
  width: 500px;
  max-width: 100%; /* Ajusta el tamaño según sea necesario */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

  @media (min-width: 501px) and (max-width: 768px) {
    h1 {
      font-size: 70px;
      line-height: 60px;
      width: auto;
      max-width: 100%;
    }
  
  }
  
  /* Para móviles */
  @media (max-width: 500px) {

  
    h1 {
      max-width: 100%;
      font-size: 45px;
      line-height: 40px;
    }

  }