/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*Estilo del header*/
header {
  background-size: cover;
  background-position: center;
  color: black;
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
  flex-grow: 1;
  margin-left: 300px;
}
  
h1{
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  font-family: 'Poppins', sans-serif;
}
  
.header__description{
  font-size: 1.2em;
  line-height: 30px;
  color: #000000;
  margin: 10px auto;
}
.header-logo {
  width: 500px;
  max-width: 100%; /* Ajusta el tamaño según sea necesario */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Pantallas pequeñas (320px a 480px) */
@media (max-width: 480px) {
  header {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    padding: 15px; /* Reduce el padding para que el header no ocupe demasiado espacio */
  }

  h1 {
    font-size: 48px; /* Reduce el tamaño del título */
    line-height: 52px; /* Ajusta la altura de la línea */
  }

  .header__description {
    font-size: 1em; /* Reduce el tamaño de la fuente */
    line-height: 24px; /* Ajusta la altura de la línea */
  }

  .header-logo {
    width: 300px; /* Ajusta el ancho de la imagen para pantallas pequeñas */
  }
}

/* Pantallas medianas (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  header {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas medianas */
    padding: 20px; /* Mantiene un padding medio */
  }

  h1 {
    font-size: 72px; /* Ajusta el tamaño del título */
    line-height: 76px; /* Ajusta la altura de la línea */
  }

  .header__description {
    font-size: 1.1em; /* Ajusta el tamaño de la fuente */
    line-height: 28px; /* Ajusta la altura de la línea */
  }

  .header-logo {
    width: 400px; /* Ajusta el ancho de la imagen para pantallas medianas */
  }
}

/* Pantallas grandes (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    margin-left: 150px; /* Reduce el margen izquierdo en pantallas grandes */
    padding: 25px; /* Mantiene un padding mayor */
  }

  h1 {
    font-size: 84px; /* Ajusta el tamaño del título */
    line-height: 88px; /* Ajusta la altura de la línea */
  }

  .header__description {
    font-size: 1.2em; /* Mantiene el tamaño de la fuente */
    line-height: 30px; /* Mantiene la altura de la línea */
  }

  .header-logo {
    width: 450px; /* Ajusta el ancho de la imagen para pantallas grandes */
  }
}
