/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*Estilo del header*/
header {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
  flex-grow: 1;
}
  
 h1{
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    color: #511f52;
    font-family: 'Poppins', sans-serif;
 }
  
h1{
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  color: #511f52;
  font-family: 'Poppins', sans-serif;
}
  
.header__description{
  font-size: 1.2em;
  line-height: 30px;
  color: #000000;
  margin: 10px auto;
}

/*.header__button {
  position: absolute;
  top: 62px;
  left: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: white;
  display: none;
}*/

  @media (min-width: 501px) and (max-width: 768px) {
    h1 {
      font-size: 50px;
      line-height: 46px;
    }
  
    .header__description {
      display: none; /* Ocultar descripción en pantallas pequeñas */
    }
  }
  
  /* Para móviles */
  @media (max-width: 500px) {
    .header__description {
      display: none; /* Ocultar descripción en pantallas pequeñas */
    }
  
    h1 {
      width: 100%;
      font-size: 45px;
      line-height: 40px;
    }

  }