*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ecd4ea;
    color: #662962;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  /* Contenedor para las flores */
  #falling-flowers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no interfiera con otros elementos */
    z-index: -1; /* Detrás de todo el contenido */
  }
  
  /* Estilo para cada flor */
  .flower {
    position: absolute;
    width: 30px; /* Tamaño de la flor */
    height: 30px;
    background-image: url('../src/774832.png'); /* Imagen de la flor */
    background-size: cover;
    animation: fall linear infinite;
    pointer-events: none;
  }
  
  /* Animación de caída */
  @keyframes fall {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  h2 {
    color: #511f52; /* Títulos y Encabezados */
    font-family: 'Montserrat', sans-serif;
  }
  
  .footer a {
    color: #eab8b9; /* Enlaces y Llamadas a la Acción */
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #efc5e9; /* Color de los Enlaces al Pasar el Ratón */
  }
  
  /*Estilo del header*/
  header {
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    padding-bottom: 0px;
  }
  
  h1{
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    color: #511f52;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
  }
  
  .header__description{
    font-size: 1.2em;
    line-height: 30px;
    color: #000000;
    margin: 10px auto;
  
  }
  
  /*Estilos de contenedores option, select, button*/
  
  .filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .filter-row{
    max-width: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .filter-container select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9edf9;
    color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:auto;
    width: 150px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .filter-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #511f52; /* Color de las Etiquetas */
  }
  
  .button-average {
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: #000000; /* Color del Texto del Botón */
    background-color: #ae7eae;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .button-clear:hover, .metrics:hover, .button-average:hover{
    background-color: #d6a4d0; /* Color del Botón al Pasar el Ratón */
  }
  
  .block-average{
    display: flex;
    justify-content: center; /* Espacio entre los contenedores */
    align-items: center; /* Alineación central de los contenedores */
    gap: 20px; /* Espacio entre los contenedores */
    padding: 2px;
    margin:auto;
  }
  
  /* Estilos iniciales */
  .average-container {
    display: none;
    padding: 20px;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 15px;
    color: #000000;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 300px;
    height: 110px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transform: translateY(20px);
   }
  
  /* Estilos cuando se muestra el contenedor */
  .average-container.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    width: auto;
    max-width: 100%;
    height: auto;
  }
  
  .average-container.show1 {
    display: block;
    opacity: 1;
    transform: translateY(0);
    width: auto;
    max-width: 100%;
    height: auto;
  }
  
  .average-container.show2 {
    display: block;
    opacity: 1;
    transform: translateY(0);
    width: auto;
    height: auto;
    max-width: 100%;
  }
  
  .button-clear, .metrics, .button-average {
    padding: 10px 20px;
    font-size: 15px;
    margin: 0px;
    border: none;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: #ae7eae;
    color: #000000; /* Color del Texto del Botón */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  
  /*Estilo de las cartas*/
  .card-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }
  
  .cardli {
    list-style-type: none;
    background-color: #f9edf9; /* Fondo de las Tarjetas */
    border: 4px solid #a987ab; /* Borde de las Tarjetas */
    padding: 20px;
    border-radius: 20px;
    width: 470px;
    max-width: 100%;
    margin: 0px;
    box-shadow: 0 4px 8px rgba(239, 236, 241, 0.1);
    text-align: center;
    box-sizing: border-box;
    height:630px;
    max-height: 100%;
  }
  
  .card__title {
    color: #33102E; /* Color del Título de la Tarjeta */
    margin-bottom: 10px;
  }
  
  .card__description {
    color: #662962; /* Color del Texto de Descripción */
    margin-top: 10px;
  }
  
  .card__list p {
    margin: 5px 0;
  }
  
  .card__gender strong, .card__year strong, .card__chapters strong {
    color: #8F4898; /* Color de los Títulos de los Datos */
  }
  
  .card__gender span, .card__year span, .card__chapters span {
    color: #33102E; /* Color de los Datos */
  }
  
  .card_image {
    max-width: 100%;
    width: 270px;
    border-radius: 10px;
    max-height: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  /*sombrear la tarjeta al pasar el mouse */
  .cardli:hover{
    background:#cfb3d3;;
  }
  /*Estilos para el footer*/
  .footer {
    background-color: #33102E;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer__copyright {
    margin: 0;
    color: #fff;
  }
  
  .footer__copyright a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .footer__copyright a:hover {
    text-decoration: underline;
  }
  
  /*Modo responsive*/
  /* Para tablets */
  @media (min-width: 501px) and (max-width: 768px) {
    .card-container ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .button-container {
      flex-direction: column;
    }
  
    .cardli {
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 100%;
    }
  
    .filter-container {
      flex-direction: column;
    }
  
    .filter-container select{
      width: 100px;
      max-width: 100%;
    }
  
    h1 {
      font-size: 50px;
      line-height: 46px;
    }
  
    .header__description {
      display: none; /* Ocultar descripción en pantallas pequeñas */
    }
  
    .average-container.show {
      width: auto;
      max-width: 100%;
    }
  
    .average-container.show1 {
      width: auto;
      max-width: 100%;
    }
  
    .average-container.show2 {
      width: auto;
      max-width: 100%;
    }
  }
  
  /* Para móviles */
  @media (max-width: 500px) {
    .header__description {
      display: none; /* Ocultar descripción en pantallas pequeñas */
    }
  
    .card-container ul {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    h1 {
      width: 100%;
      font-size: 45px;
      line-height: 40px;
    }
  
    .filter-row {
      flex-direction: column;
      margin: auto;
    }
  
    .filter-row label {
      display: flex;
      text-align: left;
      justify-content: space-between;
    }
  
    .block-average {
      flex-direction: column;
      align-items: center;
    }
  
    .average-container {
      margin-bottom: 5px;
      width: 60%;
    }
  
    .filter-container select {
      width: auto;
      max-width: 100%;
    }
  
    .cardli {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  
    .footer {
      font-size: 14px;
    }
  
    .button-row {
      margin: auto;
    }
  
    .average-container.show {
      width: auto;
      max-width: 100%;
    }
  
    .average-container.show1 {
      width: auto;
      max-width: 100%;
    }
  
    .average-container.show2 {
      width: auto;
      max-width: 100%;
    }
  }