@import "./styles/Card.css";
@import "./styles/Filters.css";
@import "./styles/Nav.css";
@import "./styles/Header.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecd4ea;
  color: #662962;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: auto;
  max-height: 1600px;
  min-width: 1100px;
  max-width: 1600px;
}
