@import "./styles/Card.css";
@import "./styles/Filters.css";
@import "./styles/Nav.css";
@import "./styles/Header.css";
@import "./styles/Chat-Content.css";
@import "./styles/ChatIndividual.css";
@import "./styles/apiKey.css";
@import "./styles/ChatGrupal.css";
@import "./styles/iamessage.css";
@import "./styles/Contact.css";


/*@import "./styles/ChatIndividual.css";*/
/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincontainer{
  display: flex;
}
.chatIndividual-container{
  display: flex;
  width: 100%;
  height: 100vh;
}



body {
  background-color: #eceaea;
  color: #87255b;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: auto;
  max-width: 100%;
}
/* Modo responsive */
/* Pantallas pequeñas (móviles) */
@media (max-width: 500px) {
  .maincontainer, .chatGrupal-container {
    flex-direction: column; /* Organizar en columna */
    padding: 10px;
  }


  .header{
    margin: 0 auto; /* Centra el logo horizontalmente */
  }
}

/* Pantallas medianas (tablets y móviles grandes) */
@media (min-width: 481px) and (max-width: 768px) {
  .maincontainer, .chatIndividual-container, .chatGrupal-container {
    flex-direction: column;
    padding: 20px;
  }

  .header{
    margin: 0 auto; /* Centra el logo horizontalmente */
  }

}

/* Pantallas grandes (tablets grandes y laptops pequeñas) */
@media (min-width: 769px) and (max-width: 1024px) {
  .maincontainer, .chatIndividual-container, .chatGrupal-container {
    flex-direction: row; /* Mantener fila para pantallas más grandes */
  }

}