@import "./styles/Card.css";
@import "./styles/Filters.css";
@import "./styles/Nav.css";
@import "./styles/Header.css";
@import "./styles/Chat-Content.css";
@import "./styles/ChatIndividual.css";


/*@import "./styles/ChatIndividual.css";*/
/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincontainer{
  display: flex;
}
.chatIndividual-container{
  display: flex;

}


body {
  background-color: #ecd4ea;
  color: #662962;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: auto;
  max-width: 100%;
}